[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "uptasticsearch"]
	path = uptasticsearch
	url = https://github.com/cran/uptasticsearch
